.btn
    width: 205px
    height: 54px
    display: flex
    align-items: center
    justify-content: center
    background: $gradient
    font-weight: 600
    font-size: 16px
    color: #fff
    border-radius: 9px

.btn-mi
    color: #fff