.header
    padding: 15px 0
    &-img
        max-width: 325px
        img
            width: 100%
    &-nav
        display: flex
        justify-content: space-between
        align-items: center
        position: relative
    &-items
        display: flex
        list-style-type: none
        padding-left: 0
        margin: 0
    &-item
        margin-right: 10px
        padding-left: 0
        &:last-child
            margin-right: 0
    &-link
        font-weight: 500
        font-size: 16px
        color: #333333
