@media screen and ( max-width: 1350px )

    .title
        font-size: 30px

    .ourservies

        &-title
            min-height: 60px
        &-li
            font-size: 14px
        &-content
            min-height: 220px
        &-descr
            font-size: 26px
            span
                font-size: 26px
        &-wrapper
            width: 200px

    .btn
        &-normal
            width: 155px
            height: 45px

@media screen and ( max-width: 1200px )

    .information
        &-item
            padding-right: 35px
        &-subtitle
            font-size: 33px
        &-descr
            font-size: 14px

    .title
        &-mini
            font-size: 16px

    .ourservies
        &-wrapper
            width: 175px
        &-li
            font-size: 13px
        &-descr
            span
                font-size: 22px

    .btn
        &-normal
            font-size: 15px
            width: 145px
            height: 43px

@media (max-width:1140px)

    .header

        &-nev
            display: none
        .btn
            display: none

        &-img
            max-width: 225px

    .hamburger
        display: block
        position: absolute
        right: 0
        top: 50%
        transform: translateY(-50%)
        width: 26px
        height: 12px
        span
            display: block
            height: 2px
            width: 100%
            background-color: #000
            margin-bottom: 2px
            transition: 0.5s all
        &_active
            span
                margin-bottom: -2px
                &:nth-child(1)
                    transform: translateY(3px) rotate(-45deg)
                &:nth-child(2)
                    display: none
                &:nth-child(3)
                    transform: translateY(3px) rotate(45deg)

    .title
        font-size: 30px

    .main
        &-img
            width: 390px
            img
                width: 100%
        &-item
            padding: 10px 20px
            font-size: 14px
        &-title
            font-size: 36px
        &-subtitle
            font-size: 45px
        &-descr
            font-size: 14px

    .information
        &-item
            padding-right: 40px
        &-subtitle
            font-size: 30px
        &-descr
            font-size: 14px

    .ourservies

        &-item
            margin-bottom: 10px

        &-conteiner
            flex-wrap: wrap

@media screen and ( max-width: 1100px )

    .ourservies

        &-li
            font-size: 12px

        &-descr
            font-size: 24px
            span
                font-size: 20px

        &-conteiner
            justify-content: space-evenly

// @media screen and ( max-width: 1000px )

// @media screen and ( max-width: 750px )

@media screen and ( max-width: 400px )

    .header
        &-img
            max-width: 150px

    .btn
        &-normal
            max-width: 85px
            font-size: 10px
    .ourservies

        &-descr
            font-size: 12px
            span
                font-size: 12px

        &-wrapper
            max-width: 135px

        &-li
            font-size: 10px
            word-break: break-word

    .title
        font-size: 20px
        &-mini
            font-size: 12px
